<style type="text/css">
	<!--

table {
  border-collapse: collapse;
   
}
  
}

-->
</style>
<base href="http://localhost/test/aplicacao/" />
<table border="0" height="630" width="1300"  cellpadding="-100000000">
	

	<tr   >
<td rowspan="3" width="180" background="figuras/lado.png" ></td>
<td  background="figuras/fundo.png" height="200" ><P><h2><img src="  '.base_url().'figuras/logor.png"  align="left" />
	<b><br><font color="#61380B" >Universidade Federal Rural do Rio de Janeiro<br>
	Decanato de Assuntos Administrativos<br>
	Departamento Pessoal<br>
	Coordenação de Desenvolvimento de pessoas<br> </P></b></font><br></h2></td>
</tr >

<tr>
<td  background="figuras/fundo.png"><h1  valign="top" align="center"   ><font color="#61380B"  size="88"><i>Certificado</i></font><font color="#61380B" ><p>Certifico que <u>'.$codcurso.' </u> , participou da <strong>'.$nome.'</strong>, oferecido pela Coordenação de Desenvolviento de Pessoas -DP/DDA, no período de 20 a 24 de Setembro de 2010 com carga horaria de'.$descricao.' horas<br ><font align="left">UFRRJ, 06 de outubro de 2015</font>  </p></h1></font></td>

</tr>
<tr>
<td background="figuras/fundo.png" ><img src="'.base_url().'figuras/base.png" align="center"  /></td>
</tr>
